<article class="post-card " style="background-color: rgba(0,0, 0, 0);">

    {{!-- <div id="vmap" style="width: 100%; min-height: 50vh;"></div> --}}
    <div id="world-map" style="width: 100%; min-height: 50vh;"></div>


</article>

